{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="./static/css/table.css" type="text/css">

<h2 align="center">List of Departments</h2>
{% if current_user.is_authenticated %}
<span class="buttons">
<div>
    <button class="sub" onclick="location.href='/adddepartment'">Add new Department</button>
</div>
<div>
    <button class="sub" onclick="location.href='/'">Back to Jobs</button>
</div>
</span>
{% endif %}
{% for id in range( jobs|length ) %}
<span class="buttons">
<h2 class="tb_h">Action # {{ id + 1 }}</h2>
{% if current_user.id in (1, jobs[id][2]) %}
<button class="sub login" onclick="location.href='/editdepartment/{{ id + 1 }}'">Edit</button>
<button class="sub logout" onclick="location.href='/deletedepartment/{{ id + 1 }}'">Delete</button>
{% endif %}
</span>
<table cellspacing="0" cellpadding="0" class="tb">
    <tr class="titles">
        {% for title in jobs[id][0] %}
        <td>{{ title }}</td>
        {% endfor %}
    </tr>
    <tr class="conts">
        {% for cont in jobs[id][1] %}
        <td>{{ cont }}</td>
        {% endfor %}
    </tr>
</table>
{% endfor %}

{% endblock content %}